# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
Thumbs.db
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Android-specific ignores (Important for local environments and signing)
/android/local.properties
/android/key.properties
/android/app/debug
/android/app/profile
/android/app/release
*.keystore
*.jks

# Symbolication and Obfuscation related
app.*.symbols
app.*.map.json

# Log files and databases
*.log
*.sqlite
